body
	{
 		background: #106e9f;
 		color: #ffffff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		overflow-x: hidden; /* prevent horizontal scrollbar from appearing */
        
	}
	
a {
	color: #47C6F8;
}
	
a:hover {
	color: #0FF;
}

/* start h2 */
h2
	{
		text-align: left;
		font-size: 35px;
		padding-bottom: 10px;
	}	
h2 span
	{
		color: #FFCA28;
		font-weight: bold;
	}
/* end h2 */
/* flash message */
#subheader{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f86855;	
}

#subheader h4
{
	color: #fbff01;
	font-size: 18px;
	text-align: center;
}
#subheader h5
{
	color: #f5fcff;
	font-size: 14px;
	text-align: center;	
}
#paddingbelow
{
	padding-bottom: 10px;	
}
/* end flash message */
/* start about subscription service  contact */
#order,#about, #service,
#contact, #subscription
	{
		padding-top: 60px;
		padding-bottom: 40px;
	}
/* end about subscription service  contact */

/* start preloader */
.preloader
	{
		position: fixed;
  		top: 0;
  		left: 0;
  		width: 100%;
  		height: 100%;
  		z-index: 99999;
  		display: -webkit-box;
  		display: -webkit-flex;
  		display: -ms-flexbox;
  		display: flex;
  		-webkit-flex-flow: row nowrap;
  		    -ms-flex-flow: row nowrap;
  		        flex-flow: row nowrap;
  		-webkit-box-pack: center;
  		-webkit-justify-content: center;
  		    -ms-flex-pack: center;
  		        justify-content: center;
  		-webkit-box-align: center;
  		-webkit-align-items: center;
  		    -ms-flex-align: center;
  		        align-items: center;
  		background: none repeat scroll 0 0 #ffffff;
	}
.sk-spinner-wave.sk-spinner 
	{
  		width: 50px;
  		height: 30px;
  		text-align: center;
  		font-size: 10px; 
  	}
.sk-spinner-wave div 
	{
  		background-color: #333;
  		height: 100%;
  		width: 6px;
  		display: inline-block;
         -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
                 animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
         
    }
.sk-spinner-wave .sk-rect2 
	{
          -webkit-animation-delay: -1.1s;
                  animation-delay: -1.1s; 
      }
.sk-spinner-wave .sk-rect3 
	{
          -webkit-animation-delay: -1s;
                  animation-delay: -1s; 
     }
.sk-spinner-wave .sk-rect4 
	{
          -webkit-animation-delay: -0.9s;
                  animation-delay: -0.9s;
     }
.sk-spinner-wave .sk-rect5 
	{
          -webkit-animation-delay: -0.8s;
                  animation-delay: -0.8s; 
     }

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
            -webkit-transform: scaleY(0.4);
                    transform: scaleY(0.4); }

  20% {
            -webkit-transform: scaleY(1);
                    transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
            -webkit-transform: scaleY(0.4);
                    transform: scaleY(0.4); }

  20% {
            -webkit-transform: scaleY(1);
                    transform: scaleY(1); } }
/* end preloader */

/* start header */
header
	{
		min-height: 20px;
		padding-top: 18px;
		padding-bottom: 10px;
        
	}
header .fa
	{
		color: #FFCA28;
	}
header span
	{
		font-weight: bold;
		padding-right: 10px;
		padding-left: 4px;
	}
header a
	{
		color: #999;
		font-weight: 600;
	}

header .social-icon
	{
		text-align: right;
	}
header .social-icon li a
	{
		border: none;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
	}
/* end header */

/* start nagivation */
.navbar-default
	{
		background: #fff;
		border: none;
		box-shadow: none;
		margin: 0 !important;
	}
.navbar-default .navbar-brand
	{
		font-weight: bold;
		font-size: 35px;
		height: 70px;
		line-height: 50px;
		padding: 20px 0px 0px 12px;
	}
	
.icon-style{
    margin-left:-320px;
}
.navbar-default .navbar-nav li a
	{
		font-weight: bold;
		font-size: 13px;
		height: 70px;
		line-height: 40px;
	}

.navbar-default .navbar-nav > li > a.current { 
	color: #28A7E9; 
}
.templatemo-nav {
	border-radius: 0;	
	width: 100%;
	z-index: 1000;
}
.sticky {	
	position: fixed;
	left: 0;
	top: 0;	
}

.fa-phone{
    color:#FFCA28; 
}
.checkbox-button-background {
    background-color:#43A047;
}
/*.white {color:#ffffff;}*/
/* end navigation */

/* start order*/
#order-body{
    padding-top: 40px;   
}

#order{
     overflow-y: auto;
}
#order .media-heading-wrapper
	{
		padding-bottom: 32px;
	}
#order .media-heading-wrapper .fa
	{
		border: 1px solid #fff;
		border-radius: 2px;
		color: #fff;
		font-size: 24px;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		margin-bottom: 20px;
		margin-right: 20px;
	}
#order .media-heading-wrapper h3
	{
		font-size: 18px;
		font-weight: bold;
		padding-top: 20px;
		padding-left: 52px;
	}
/* end order*/


/* start about*/
#about-body{
    padding-top: 40px;
    
}
#about-body p{
    text-align:left; 
}
/* end about*/
/* start home */
#home
	{
		background: url('../images/home-bg.jpg') no-repeat;
		background-size: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 625px;
       
	}
#home h1
	{
		font-weight: 300;
		font-size: 70px;
		padding-bottom: 10px;
	}
#home h1 span
	{
		color: #FFCA28;
		font-weight: bold;
	}
#home h3 span
	{
		color: #FFCA28;
		font-weight: bold;
        font-size: 42px;
	}
#home h3 
	{
/*		padding-top: 170px;*/

	}
#home .btn
	{
		background: #FF9800;
		border-radius: 2px;
		color: #f5fcff;
		font-size: 16px;
		font-weight: bold;
		margin-top: 10px;
		width: 180px;
		height: 60px;
		padding-top: 18px;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
	}
#home .btn:hover
	{
		color: #fff;
		border-color: transparent;
        border-radius: 2px;
	}

.element {
	height: 60px;
	font-size: 16px;
}
.elementpadding {
	padding-top: 100px;
}
/* end home */

/* start about */
#about{
     overflow-y: auto;
}
#about .media-heading-wrapper
	{
		padding-bottom: 32px;
	}
#about .media-heading-wrapper .fa
	{
		border: 1px solid #fff;
		border-radius: 2px;
		color: #fff;
		font-size: 24px;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		margin-bottom: 20px;
		margin-right: 20px;
	}
#about .media-heading-wrapper h3
	{
		font-size: 18px;
		font-weight: bold;
		padding-top: 20px;
		padding-left: 52px;
	}
/* end about */



/* start service */
#service .col-md-4
	{
		padding: 40px;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
	}


#service .fa
	{
		border: 1px solid #fff;
		border-radius: 2px;
		color: #fff;
		font-size: 50px;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
	}
#service h4
	{
		color: #e9ae28;
		font-weight: 600;
		padding-top: 10px;
		padding-bottom: 14px;
	}
/* end service */


/* start contact */
#success_message{ display: none;}

#contact .form-control
	{
		background: transparent;
		border: 1px solid #28a7e9;
		border-radius: 2px;
		box-shadow: none;
		color: #fff;
		margin-top: 6px;
		margin-bottom: 16px;
	}
#contact label
	{
		font-weight: 500;
	}
#contact input
	{
		height: 50px;
	}
#contact input[type="submit"]
	{
		background: #28a7e9;
		font-weight: bold;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
	}
#contact input[type="submit"]:hover
	{
		background: transparent;
	}
#contact address
	{
		/* border-bottom: 1px solid #636161; */
		padding-top: 30px;
	}
#contact address .address-title
	{
		font-weight: bold;
		font-size: 20px;
		padding-bottom: 10px;
	}
#contact address span
	{
		display: block;
		padding-bottom: 30px;
	}
#contact address .fa
	{
		border: 1px solid #fff;
		border-radius: 2px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		margin-right: 10px;
		margin-bottom: 10px;
	}
/* end contact */

/* start copyright */
#copyright
	{
		padding: 20px;
	}
#copyright p
	{
		font-weight: 400;
	}
/* end copyright */

/* start social icon */
.social-icon
	{
		position: relative;
		padding: 0;
		margin: 0;
	}
.social-icon h4
	{
		display: inline-block;
		padding-right: 20px;
	}
.social-icon li
	{
		display: inline-block;
		list-style: none;
	}
.social-icon li a
	{
		border: 1px solid #fff;
		border-radius: 2px;
		color: #fff;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		text-decoration: none;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
		margin-right: 10px;
	}
.social-icon li a:hover
	{
		background: #28a7e9;
		border-color: transparent;
	}
/* end social icon */

@media only screen and (max-width:632px){
    body{
        position: relative; 
        background: #05a4ff;
    }
    #orderwrapper{
        overflow: hidden;
    }
    #order{
          position: relative;
    }
    
}
/* popup start*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
/*popup end */


/*iPadPro */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
      #home
		{
            background: url('../images/home-bg.jpg') no-repeat;
            background-size: contain;
			min-height: 200px;
			padding-top: 30px;
			padding-bottom: 20px;
            height: 450px;
		}
    .elementpadding {
	padding-top: 10px;
}
}
/*iPadPro */

/*iPad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    #home
		{
            background: url('../images/home-bg.jpg') no-repeat;
            background-size: contain;
			min-height: 200px;
			padding-top: 30px;
			padding-bottom: 20px;
            height: 450px;
		}
    .elementpadding {
	padding-top: 10px;
}
    #home h1 h2
		{
			font-size: 22px;
		}
}
/*iPad */

/* start 980 media quires */
@media only screen and ( max-width: 980px ) {

    .elementpadding {
	padding-top: 0px;
}
    #home
		{
            background: url('../images/home-bg.jpg') no-repeat;
            background-size: contain;
			min-height: 200px;
			padding-top: 0px;
			padding-bottom: 20px;
            height: 350px;
		}

	
        #order-body{
    padding-top: 10px;   
}
         /* #order{
    padding-top: 10px;   
}
     #service{
    padding-top: 10px;   
}
    #about{
    padding-top: 10px;   
}
#subscription{
    padding-top: 10px;   
} */
       #contact{
    /* padding-top: 10px; */
        padding-bottom: 100px;
}
     
    .navbar-default .navbar-brand
	{
		font-weight: bold;
		font-size: 25px;
		height: 70px;
		line-height: 40px;
		padding: 20px 0px 0px 12px;
        margin-left:90px;
	}
.icon-style{
    margin-left:-260px;
    padding: 2px 0px 0px 12px;
}
           .swal-modal {
 width:300px !important;
  font-size: 12px !important;
           margin-right: 35px !important;
}
}

#steps{
        background: #1292d4;
    }

     
    #about{
        background: #0e5b83;
    }
    
    #service{
        background: #2484b8; 
	}
	
	#subscription{
        background: #1d75a5; 
	}
	
	#contact
	{
		background: #0a4462;
	}
/* end 360 media quires */

/* start 768 media quires */
@media only screen and ( max-width: 767px ) {
	.wm-logo{
		width: 40px;
		height:10px;
	}
	#home
		{
            background: url('../images/home-bg3.jpg') no-repeat;
            background-size: contain;
			min-height: 500px;
			padding-top: 80px;
			padding-bottom: 60px;
            height: 750px;
		}
	#home h1
		{
			font-size: 52px;
		}

	
     
    #about{
        background: #0f82be;
    }
    
    #service{
        background: #106e9f; 
	}
	
	#subscription{
        background: #0e6594; 
	}

	#contact
	{
		background: #0a4462;
	}

#order-body{
    padding-top: 10px; 
    }
             #order{
    padding-top: 10px;   
}
     #service{
    padding-top: 10px;   
}
     #about{
    padding-top: 10px;   
}
       #contact{
    padding-top: 10px;
        padding-bottom: 100px;
}
    
	.templatemo-nav {
		position: fixed;
    	top: 0;
	}
	header {
		margin-top: 70px;
	}
	header .social-icon {
		text-align: left;
	}
	.navbar-toggle {
		margin-top: 15px;
	}
	.navbar-collapse {
		max-height: 300px;
		overflow-y: auto;
        margin-left: -300px;
	}
	.navbar-default .navbar-nav li a {
		height: 45px;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 35px;
	}
    .navbar-default .navbar-brand
	{
		font-weight: bold;
		font-size: 25px;
		height: 70px;
		line-height: 40px;
		padding: 20px 0px 0px 12px;
        margin-left:90px;
	}
.icon-style{
    margin-left:-260px;
    padding: 2px 0px 0px 12px;
}
               .swal-modal {
 width:300px !important;
  font-size: 12px !important;
            margin-right: 35px !important;
}
}
/* end 768 media quires */

/* start 360 media quires */
@media only screen and ( max-width: 360px ) {
	header .social-icon
		{
			text-align: left;
		}
	#home
		{
            background: url('../images/home-bg3.jpg') no-repeat;
		    background-size: cover;
			min-height: 300px;
			padding-top: 60px;
			padding-bottom: 40px;
		}
	#home h1
		{
			font-size: 32px;
		}
    
    #order-body{
    padding-top: 10px;   
}
             #order{
    padding-top: 10px;   
}
     #service{
    padding-top: 10px;   
}
     #about{
    padding-top: 10px;   
}

#subscription{
    padding-top: 10px;   
}
    #contact{
    padding-top: 10px;
        padding-bottom: 100px;
}
    

.navbar-default .navbar-brand
	{
		font-weight: bold;
		font-size: 25px;
		height: 70px;
		line-height: 40px;
		padding: 20px 0px 0px 12px;
        margin-left:90px;
	}
.icon-style{
    margin-left:-260px;
    padding: 2px 0px 0px 12px;
}
       .swal-modal {
 width:300px !important;
  font-size: 12px !important;
           margin-right: 35px !important;
}

}



.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popupnext .popupnexttext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popupnext .popupnexttext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popupnext .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/* end 360 media quires */